## AWS Info

 - AWS Access Key ID: ASIARRKSDW2JSOLKVOH6
 - AWS Secret Access Key: 9fck1/Iw5aEh/U4MiF7dZIEI+Xh0P/muJs5erFfM
 - AWS Session Token: FwoGZXIvYXdzEOz//////////wEaDDnRk7ABTv8YQeRX5CLVAeUl9P1XR7kUd0BXCF0jSvect4ZodvPSo4bX1NKpivLQJu/FWWdz3KnMASdSxlLXnV8qS4sQVyL8RLqQ+4JNo9GD12o5jBQyRW1KjADthsWI3K2aijHUQyX+/VF1crETvZzoeNcMNsf1l651jt9tuNH3yD6LMjifohei2DUhWXjU+sDKSoMynpBOn5HbQZXEpRUjUu3TViteg7Q2tLIX9mO4zhz39xHZK9VYTzKk7aecF8ERaLIasGbfnx3m8nn2FPZJzXI4AzPI3eR1YlB8tug5LLkBHyjsqZKtBjItgFxVUhKAGBcxwJhaH2pFqAJKxe9er6h7o8YvNJOWhr/DPtHZbqkt6GQ3juqp

# readme
# Data Engineering with AWS: Project Cloud Data Warehouse

## Purpose
I am a Data Engineer for a startup called Sparkify. Sparkify's is rapidly scaling their user base and song data base to service these new users. To accomodate this, we are moving their data into the cloud. As part of this process, I have been tasked with creating an ETL pipeline to move data from an S3 AWS bucket, stage it in Reshift, and transofrm it into tables for analytical purposes.


## Database Schema and ETL Pipeline Design

### Database Schema
I am going to create two staging tables:

> staging_events: will source from JSON logs and contain dimenionson users 
    - artist
    - auth
    - firstName
    - gender
    - itemInSession
    - lastName
    - length
    - level
    - location
    - method
    - page
    - registration
    - sessionId
    - song
    - status
    - ts
    - userAgent
    - userId
    
 > staging_songs: will source from JSON logs and contain dimenionson songs 
     - num_songs
     - artist_latitude
     - artist_longitude
     - artist_location
     - artist_name
     - song_id
     - title
     - year
     - duration
     - artist_id
     
I will also create a fact table.

> songplays: data about song plays
    - songplay_id (PK)
    - start_time
    - user_id
    - level
    - song_id
    - artist_id
    - session_id
    - duration
    - user_agent

Finally, the database will have four dimension tables.

> users: data on users
    - user_id (PK)
    - first_name
    - last_name
    - gender
    - level
    
 > songs: data on the songs in database
     - song_id (PK)
     - title
     - artist_id
     - year
     - duration
     
> artist: data on artists in data
    - artist_id (PK)
    - name
    - location
    - latitude
    - longitude
    
 > time: data on when songs were played
     - start_time (PK)
     - hour
     - day
     - week
     - month
     - year
     - weekday
     
     
### ETL
All code will be aggregated into a single project called main.ipynb

etl.py will load data from S3 to the staging tables and then to the analytical tables.

In [1]:
# dhw.cgf
#[CLUSTER]
HOST='redshift-cluster-1.cspmdnqhgoxd.us-east-1.redshift.amazonaws.com:5439/dev'
DB_NAME='dev'
DB_USER='awsuser'
DB_PASSWORD='TESTtest1'
DB_PORT=5439

#[IAM_ROLE]
#ARN='arn:aws:redshift:us-east-1:105935779475:namespace:c7bafe03-bf5e-4f42-86a9-1bd6201b7483'
ARN='arn:aws:iam::105935779475:role/myRedshiftRole'

#[S3]
LOG_DATA='s3://udacity-dend/log_data'
LOG_JSONPATH='s3://udacity-dend/log_json_path.json'
SONG_DATA='s3://udacity-dend/song_data'

#[AWS]
KEY='AKIARRKSDW2JVFP3I4UO'
SECRET='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'

In [3]:
# sql_queries.py
import configparser


# CONFIG
config = configparser.ConfigParser()
config.read('dwh.cfg')

DWH_ROLE_ARN = config.get("IAM","ROLE_ARN")
LOG_DATA = config.get("S3","LOG_DATA")
LOG_JSONPATH = config.get("S3", "LOG_JSONPATH")
SONG_DATA = config.get("S3", "SONG_DATA")

# DROP TABLES

staging_events_table_drop = "DROP TABLE IF EXISTS staging_events;"
staging_songs_table_drop = "DROP TABLE IF EXISTS staging_songs;"
songplay_table_drop = "DROP TABLE IF EXISTS songplays;"
user_table_drop = "DROP TABLE IF EXISTS users;"
song_table_drop = "DROP TABLE IF EXISTS songs;"
artist_table_drop = "DROP TABLE IF EXISTS artists;"
time_table_drop = "DROP TABLE IF EXISTS time;"

# CREATE TABLES

staging_events_table_create= ("""
        CREATE TABLE IF NOT EXISTS staging_events (
            artist VARCHAR,
            auth VARCHAR,
            firstName VARCHAR,
            gender CHAR(1),
            itemInSession INTEGER,
            lastName VARCHAR,
            length FLOAT,
            level VARCHAR,
            location TEXT,
            method VARCHAR,
            page VARCHAR,
            registration FLOAT,
            sessiond INTEGER,
            song VARCHAR,
            status INTEGER,
            ts BIGINT,
            userAgent TEXT,
            userId INTEGER);
""")

staging_songs_table_create = ("""
        CREATE TABLE IF NOT EXISTS staging_songs (
        num_songs INTEGER,
        artist_id VARCHAR,
        artist_latitude FLOAT,
        artist_longitude FLOAT,
        artist_location TEXT,
        artist_name VARCHAR,
        song_id VARCHAR,
        title VARCHAR,
        duration fLOAT,
        year INTEGER);
""")

songplay_table_create = ("""
    CREATE TABLE IF NOT EXISTS songplays (
        songplay_id INTEGER IDENTITY(0,1) NOT NULL PRIMARY KEY,
        start_time TIMESTAMP,
        user_id INTEGER,
        level VARCHAR,
        song_id VARCHAR,
        artist_id VARCHAR,
        session_id INTEGER,
        location TEXT,
        user_agent TEXT);
""")

user_table_create = ("""
    CREATE TABLE IF NOT EXISTS users (
        user_id  INTEGER NOT NULL PRIMARY KEY,
        first_name VARCHAR,
        last_name VARCHAR,
        gender CHAR(1),
        level VARCHAR);
""")

song_table_create = ("""
     CREATE TABLE IF NOT EXISTS songs (
        song_id VARCHAR NOT NULL PRIMARY KEY,
        title VARCHAR,
        artist_id VARCHAR,
        year INT,
        duration FLOAT);
""")

artist_table_create = ("""
    CREATE TABLE IF NOT EXISTS artists (
        artist_id VARCHAR NOT NULL PRIMARY KEY,
        name VARCHAR,
        location TEXT ,
        latitude FLOAT ,
        longitude FLOAT);
""")

time_table_create = ("""
    CREATE TABLE IF NOT EXISTS time (
        start_time TIMESTAMP NOT NULL PRIMARY KEY,
        hour INTEGER,
        day INTEGER,
        week INTEGER,
        month INTEGER,
        year INTEGER,
        weekday VARCHAR);
""")

# STAGING TABLES

staging_events_copy = ("""
    copy staging_events 
    from {} 
    credentials 'aws_iam_role={}' 
    format as json {} 
    compupdate off 
    region 'us-west-2';
""").format(LOG_DATA, DWH_ROLE_ARN, LOG_JSONPATH)

staging_songs_copy = ("""
    copy staging_songs 
    from {} 
    credentials 'aws_iam_role={}' 
    format as json 'auto' 
    compupdate off 
    region 'us-west-2';
""").format(SONG_DATA, DWH_ROLE_ARN)

# FINAL TABLES

songplay_table_insert = ("""
    INSERT INTO songplays (
        start_time, 
        user_id, 
        level,
        song_id, 
        artist_id, 
        session_id, 
        location, 
        user_agent
    ) 
    SELECT 
        timestamp 'epoch' + se.ts/1000 * interval '1 second', 
        se.userId, 
        se.level, 
        ss.song_id, 
        ss.artist_id, 
        se.sessionId, 
        se.location, 
        se.userAgent
    FROM staging_events se 
    JOIN staging_songs ss ON (se.song = ss.title AND se.artist = ss.artist_name)
    WHERE se.page = 'NextSong';
""")

user_table_insert = ("""
    INSERT INTO users (
        user_id, 
        first_name, 
        last_name, 
        gender, 
        level
    ) 
    SELECT 
        DISTINCT userId, 
        firstName, 
        lastName, 
        gender, 
        level
    FROM staging_events
    WHERE page = 'NextSong' AND userId IS NOT NULL
""")

song_table_insert = ("""
    INSERT INTO songs (
        song_id, 
        title, 
        artist_id, 
        year, 
        duration
    )
    SELECT 
        DISTINCT song_id, 
        title, 
        artist_id, 
        year, 
        duration
    FROM staging_songs
    WHERE song_id IS NOT NULL
""")

artist_table_insert = ("""
    INSERT INTO artists (
        artist_id, 
        name, 
        location, 
        latitude, 
        longitude
    )
    SELECT 
        DISTINCT artist_id, 
        artist_name, 
        artist_location, 
        artist_latitude, 
        artist_longitude
    FROM staging_songs
    WHERE artist_id IS NOT NULL
""")

time_table_insert = ("""
    INSERT INTO time (
        start_time, 
        hour, 
        day, 
        week, 
        month, 
        year, 
        weekday
    )
    SELECT 
        DISTINCT start_time, 
        EXTRACT(hour from start_time), 
        EXTRACT(day from start_time), 
        EXTRACT(week from start_time), 
        EXTRACT(month from start_time), 
        EXTRACT(year from start_time), 
        EXTRACT(weekday from start_time)
    FROM songplays
""")

# QUERY LISTS

create_table_queries = [staging_events_table_create, staging_songs_table_create, songplay_table_create, user_table_create, song_table_create, artist_table_create, time_table_create]
drop_table_queries = [staging_events_table_drop, staging_songs_table_drop, songplay_table_drop, user_table_drop, song_table_drop, artist_table_drop, time_table_drop]
copy_table_queries = [staging_events_copy, staging_songs_copy]
insert_table_queries = [songplay_table_insert, user_table_insert, song_table_insert, artist_table_insert, time_table_insert]

NoSectionError: No section: 'IAM'

In [2]:
# etl.py
import configparser
import psycopg2
from sql_queries import copy_table_queries, insert_table_queries


def load_staging_tables(cur, conn):
    for query in copy_table_queries:
        cur.execute(query)
        conn.commit()


def insert_tables(cur, conn):
    for query in insert_table_queries:
        cur.execute(query)
        conn.commit()


def main():
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()
    
    load_staging_tables(cur, conn)
    insert_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()

ModuleNotFoundError: No module named 'sql_queries'

In [ ]:
# create_tables.py
import configparser
import psycopg2
from sql_queries import create_table_queries, drop_table_queries


def drop_tables(cur, conn):
    for query in drop_table_queries:
        cur.execute(query)
        conn.commit()


def create_tables(cur, conn):
    for query in create_table_queries:
        cur.execute(query)
        conn.commit()


def main():
    config = configparser.ConfigParser()
    config.read('dwh.cfg')

    conn = psycopg2.connect("host={} dbname={} user={} password={} port={}".format(*config['CLUSTER'].values()))
    cur = conn.cursor()

    drop_tables(cur, conn)
    create_tables(cur, conn)

    conn.close()


if __name__ == "__main__":
    main()